@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0) translateY(42px) rotate(-270deg) scale(.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(.5)
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg)
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        transform: translateX(0) translateY(42px) rotate(-270deg) scale(.5);
        -webkit-transform: translateX(0) translateY(42px) rotate(-270deg) scale(.5)
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg)
    }
}
