aiohttp==3.8.1
ruamel.yaml==0.17.17
sanic==21.9.1
requests==2.26.0
validators==0.18.2
asyncpg==0.24.0
websockets==10.1
beautifulsoup4==4.10.0
dnspython==2.1.0
sanic-openapi==21.6.1
sentry-sdk==1.5.0
tld==0.12.6
yarl==1.7.2
pbincli=0.3.1
tld=0.12.6
