@import url("https://cdn.mousey.app/fonts/roboto.css");

.wrapper {
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        width: 90%;
    }
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

label, input, button {
    font-size: 1.3em;
}

.wrapper > * {
    text-align: center
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spoopy-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#input {
    outline: none;
    margin-left: 5px;
}

.footer {
    position: fixed;
    bottom: 0.5em;
    left: 1em;
}

.slack-index {
    text-align: center;
}

button {
    margin-left: 0.5em;
}
