footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 3px solid lightslategray;
    font-size: 20px;
    text-align: center;
    background-color: white;
}

footer p {
    padding: 0;
    margin: 0;
}

footer a {
    display: inline-block;
    padding: 2px;
}

.inspiration {
    font-size: 15px;
}
